#container{
	margin:auto;
}
#namehere{
	font-size: 24px;
	color: blue;
	font-weight: bold;

}
#note{
	border: 5px dotted lightslategrey;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(243, 243, 147);
}
#close{
	float: right;
	font-weight: bold;
	font-size: 20px;
	color:red;
	text-decoration: none;
	cursor:pointer;
	padding: 5px;
	border: 1px solid lightgrey;
}
#close1{
	float:right;
	font-weight: bold;
	font-size: 14px;
	color:navy;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid navy
}
#note-text{
	margin-left: 5px;
	color: blue;
}
#heading{
	color: lightslategrey;
}
#to-do-main{
	float: left;
	margin-left: 60px;
}
#to-do-box{
	width: 340px;
	height: 60px;
	background-color: lightgoldenrodyellow;
	border: 1px solid grey;
}
#to-do-footer{
	width: 340px;
	height: 100%;
	background-color: lightgrey;
	border: 1px solid grey; 
}
input{
	width: 338px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	color: blue;
	text-align: center;
}
#item{
	background-color:yellow;
	margin-top:5px;
	margin-bottom:5px;
}
#doing-box-main{
	float: left;
	margin-left: 60px;
}
#doing-box{
	width: 340px;
	height: 60px;
	background-color: bisque;
	border: 1px solid grey;
}
#doing-box-footer{
	width: 340px;
	height: 100%;
	background-color: lightgrey;
	border: 1px solid grey;
}
#done-box-main{
	float: left;
	margin-left: 60px;
}
#done-box{
	width: 340px;
	height: 60px;
	background-color: #D5FFD5;
	border: 1px solid grey;
}
#done-box-footer{
	width: 340px;
	height: 100%;
	background-color: lightgrey;
	border: 1px solid grey; 
}
#copyrights{
	clear: both;
	padding-top: 200px;
	/*margin-top: 20px;*/
	padding-bottom: 0px;
	margin-bottom: 0px;
}